# Strings, Lists, Tuples, Arrays and Dictionaries.

In Python (and other computer languages), we have a range of different types of data structures.

In this session we are going to cover the very basics.

## Strings

Strings consist of characters and symbols, often representing natural human language (as opposed to a computer language).

Strings are handy for text manipulation, file modification, labelling of plots, requesting inputs from user, arguments in functions etc.

They are created by enclosing a sequence of characters using pair of single of double quotes. It does not matter whether single or double but it should be consistent. 

Strings can be assigned variable names.

In [ ]:
my_string = 'this is my string'
my_string

Strings can be concatenated using the "+" operator:

In [ ]:
a = 'this is ggs416'
b = 'which is on Monday at 3pm'
c = a + " " + b
c

Strings can also be made of numbers. This might catch you out from time to time (!). You need to pay attention to the quotation marks, which denote a string.

In [ ]:
d = '345'
e = 345

The variable `d` is a string while `e` is an integer. What do you think will happen if we add them?

(Remember d is a string, so you won't get 690. Instead, you will get the string repeated twice, so '345345')

In [ ]:
# Example:
d + d

# Answer: '345345'

You can also insert a value into a string using the `format()` function. You just need to add a curly parantheses `{}` to the point where you want to add the additional characters. 

You will see this often in this course, especially as it is very handy when printing the values used in loops.

In [ ]:
# Example
my_number = 2
my_variable = "my_version: {}".format(my_number)
my_variable

## Exercise

Allocate your first name as a string to the variable `my_first_name`:

In [ ]:
# Enter your attempt here

Now allocate your second name as a string to the variable `my_second_name`:

In [ ]:
# Enter your attempt here

Try to concatenate your names, but add a space in the middle (thus, if you get "JackSparrow", this would be incorrect).

In [ ]:
# Enter your attempt here

Create a variable named `course_number` and allocate it the value 16. Then try add this course number into the `course_code` variable "GGS" using the `format()` function. You should end up with a variable called `course_code` with the string `GGS16` allocated to it.

In [ ]:
# Enter your attempt here

## Lists

Lists consist of one or more elements and can contain any data type such as numbers, strings, floats, bools or both. 

Lists are defined by a pair of square brackets with individual elements separated by commas.

In [ ]:
# Example
a = [2017,2018,2019,2020,2021]
a

In [ ]:
# Example
b = [2.0,"GMU",14,"GGS",2021]
b

Individual elements within a list can be accessed using a variable name with square brackets as follows;

In [ ]:
# Example
b[0]

In [ ]:
# Example
b[1]

In [ ]:
# Example
b[3]

Proper programming languages, such as python and C, index lists starting from 0 (!). This is known as "zero indexing". 

Zero indexing will definitely catch a few people out during this class, but learning it will help you think like a computer programmer : ]

The last element in list `b` is `b[4]` because the list has 5 elements and it can be accessed as `b[-1]` also.

The lists can be accessed in reverse but starting with -1:

In [ ]:
# Example
b[-1]

Which is the same as manually indexing the last value (but you may not always know how long the list is!!).

In [ ]:
# Example
b[4]

The individual elements within the list can be changed.

In [ ]:
b

In [ ]:
# Example: We can manipulate the underlying value
b[0] = b[0]+1
b

In [ ]:
# Example: Or we can completely write over it
b[2] = 'Semester'
b

In the above example, 1 has been added to the previous value of `b[0]` and the number 14 was replaced with string "Semester".

Individual elements within a list can also be manipulated.

In [ ]:
# Example
b[3] = b[3] + " -"
b

We can also reverse the order of the list:

In [ ]:
# Example
b = b[::-1]
b

A key feature of lists is that they can be added together. This is a really important thing to remember.

In [ ]:
# Example
a #our current list

In [ ]:
# Example
a+a #now we have a single list, but containing all elements from list 'a' twice!

In [ ]:
# Example
a+a+a #now we have a single list, but containing all elements from list 'a' thrice!

Note how the individual elements *are not added*, but the two data structures are combined into a single list. 

This is called **concatenating** in computer science lingo.

In [ ]:
a+b

##### Slicing Lists

Parts of lists can be accessed using the *slicing* feature.

In [ ]:
# So if we have our list b:
b

In [ ]:
# We can slice it for just the first three elements by specifying b[0:3]
b[0:3]

# So this literally means for our list 'b', I want to index into the list 
# (thus the square brackets '[]'), and then extract from position 0-3.

Alternatively, we can cut from the third position onwards, as follows:

In [ ]:
b[3:]

Or from the start of the list until the third position:

In [ ]:
b[:3]

A length of a list can be accessed using the *len* function.

This is a really useful function which is used all the time, so remember it!

In [ ]:
len(b)

#### Appending to a List

An element can be added at the end of a given list using the **append** function.

In [ ]:
states = ['New York', 'Virginia','Washington DC', 'Delaware','Maryland']
states

In [ ]:
states.append('North Carolina')
states.append('Las Vegas')
states

<div class="alert alert-block alert-info">
    
<b>Note:</b> *append* works by adding the element after the last one in the existing list. 
</div>

Sometimes it might be necessary to add an element at a specific position in a list. This can be achieved using the **insert** function. The position is specified followed by the element. Example;

In [ ]:
states.insert(3,'West Virginia')
states

An element of a list can be removed using the **remove** function. This is done by specifying the element.

In [ ]:
states.remove('Washington DC')
states

Python **del** function can also be used in place of remove. The advantage is that it only accepts the index of the element and not necessary the element which might always return an error due to spelling or case sensitivity. Example, to remove Las Vegas from the list;

In [ ]:
del states[4]
states

## Exercise

We covered a lot of information on lists, but this is because they are a really useful data structure, and we will use them all the time on this class.

Create a list called `my_list` and add your height, hair color, and favourite band/musical artist.

In [ ]:
# Enter your attempt here

Create another list called `my_list2` and place your degree name (e.g., 'GGS') and the number of your apartment/house.

In [ ]:
# Enter your attempt here

Concatenate these data structures into a list called `meta_list`:

In [ ]:
# Enter your attempt here

Reverse the `meta_list`:

In [ ]:
# Enter your attempt here

Append your birth year to your list:

In [ ]:
# Enter your attempt here

For this list, separate out the second and forth values: `['a', 'b', 'c', 'd', 'e']`:

In [ ]:
# Enter your attempt here

## Tuples

Tuples are lists which are immutable (their individual elements cannot be changed).

They are defined by their parentheses e.g. `my_tuple = (0, 1, 2, 3)`

This contrasts with lists which use square brackets, e.g. [], or dictionaries which use curly brackets e.g. {}.

The individual elements can be accessed in similar manner as lists.

In [ ]:
c = (10,20,30,40,50,60)
c

In [ ]:
# Let's index the value at position 3:
c[3]

Let's try changing an element of a tuple.

In [ ]:
# Remember tuples are immutable though, so you can't change their contents like this!
c[4] = 100

A really useful characteristic of tuples is that you can unpack them to individual variables:

In [ ]:
# Example: So for our tuple c, we can unpack the elements individually to x, y, z:

c = (10,20,30)

x, y, z, = c
x, y, z

##### Multidimensional lists, consisting of lists and tuples

This is a common data structure we will use in satellite image processing.

For example, using:

    - A list of lists
    - A list of tuples

In [ ]:
# Example
# A list of lists: (remember lists of square brackets)

navsats_list = [
    ['GPS','USA'],
    ['Galileo','EU'],
    ['Glonnas','Russia']
]
navsats_list

In [ ]:
# Example:
# A list of tuples: (remember tuples use normal parantheses/brackets)

navsats_tuples = [
    ('GPS','USA'),
    ('Galileo','EU'),
    ('Glonnas','Russia')
]
navsats_tuples

In [ ]:
# Example:
# You can index them like normal lists
navsats_list[0]

In [ ]:
# You can also iterate over them like a normal list using a loop:
    
for i in navsats_list:
    print(i)

It's the same for the tuple list:

In [ ]:
navsats_tuples[1]

In [ ]:
# You can also iterate over them like a normal list using a loop:
    
for i in navsats_tuples:
    print(i)

You can even start to include some logic in the loop:

In [ ]:
for i in navsats_tuples:  # So we're iterating over our list of tuples using a for loop.
    if i[1] == 'USA':     # And placing an if function to see if the first item in each tuple is equal to 'USA'.
        print(i[0])       # If it is, we print the constellation name.

## Exercise

Let us now recap on tuples.

Create a tuple with the numbers 6, 7, 8 called `my_tuple`.

In [ ]:
# Enter your attempt here

Index the number `7` and allocate it to a variable `my_item`. Remember zero indexing ;)

In [ ]:
# Enter your attempt here

Using a single line, unpack all items in our tuple to the variables `var1`, `var2`, `var3`:

In [ ]:
# Enter your attempt here

Create a list of lists containing the following two lists:

    - [1,2]
    - [2,3]

In [ ]:
# Enter your attempt here

Append this list to your list of lists:

    - [3,4]

In [ ]:
# Enter your attempt here

Now use a loop to print the content of your list of lists.

In [ ]:
# Enter your attempt here

Create a list of tuples containing the following two tuples:

    - (1,2)
    - (2,3)

In [ ]:
# Enter your attempt here

Append this tuple to your list of tuples:

    - (3,4)

In [ ]:
# Enter your attempt here

Now use a loop to print the content of your list of tuples.

In [ ]:
# Enter your attempt here

## Dictionaries

Unlike lists where square brackets are used, dictionaries use curly brackets, **{ }**. 

Whereas lists have an inherent order, dictionaries have no order. In fact, python guarantees no repeatable order. This is because the data structure is indexed using keys, not numbers. 

*A Python list is a collection of Python objects indexed by an ordered sequence of integers
starting from zero. A dictionary is also collection of Python objects, just like a list,
but one that is indexed by strings or numbers (not necessarily integers and not in any
particular order) or even tuples!*, (Pine, 2013).

Dicts have a very specific structure inside the curly brackets, based on key-value pairs. They have this name as each pair has a key and a value separated by a colon. See the my_dict example below:

In [ ]:
my_dict = {
'my_key': 'my_value',
'my_second_key': 'my_second_value',
}
my_dict

Dicts can actually hold any data types, even other lists or dicts.

In [ ]:
my_dict = {
'my_key': 6,
'my_second_key': (0, 1, 2, 3),
}
my_dict

Example: Let us create a dictionary containing Remote Sensing satellite mission information with year of launch, ownership and orbital inclination.

We first need to create out empty dictionary:

In [ ]:
# Example
satellites = {} # This is our empty dict!
satellites # As demonstrated when printed!

In [ ]:
# Example
# Let's populate our dictionary.
satellites['mission'] ='LandSat' 
satellites['Launch Year']=1972
satellites['Orbital Inclination'] = 99.2
satellites

The real strength of dicts comes when you want to index into them to grab information from the key-value pairs. 

For example, we can access the mission name from the dict as follows:

In [ ]:
# Example
satellites['mission'] # So we can index into the dict using the key name, and it returns the value from that pair!

We can also access the keys and values separately using either the .keys() or .values() functions.

In [ ]:
satellites.keys()

In [ ]:
satellites.values()

We can also iterate over the keys and values in tandem.

In [ ]:
for key, value in satellites.items():
    print(key, value)

## Exercise

Let's recap on dictionaries.

Create a dictionary called `my_dict` and add a key called `my_first_key` and a value called `my_first_value`.

In [ ]:
# Enter your attempt here

Add a new key called `my_key2` and allocate it the value `my_value2`.

In [ ]:
# Enter your attempt here

Now print the keys of your dictionary.

In [ ]:
# Enter your attempt here

And print the values of your dictionary.

In [ ]:
# Enter your attempt here

Finally, print both the keys and the values using a loop:

In [ ]:
# Enter your attempt here