# Multidimensional structures

This is a common data structure we will use in satellite image processing.

For example, using:

    - A list of lists
    - A list of tuples
    - A list of dicts

In [ ]:
# Example
# A list of lists: (remember lists of square brackets)

navsats_list = [
    ['GPS','USA'],
    ['Galileo','EU'],
]
navsats_list

In [ ]:
# Example:
# A list of tuples: (remember tuples use normal parantheses/brackets)

navsats_tuples = [
    ('GPS','USA'),
    ('Galileo','EU'),
]
navsats_tuples

In [ ]:
# Example:
# You can index them like normal lists
navsats_list[0]

In [ ]:
# You can also iterate over them like a normal list using a loop:
    
for i in navsats_list:
    print(i)

It's the same for the tuple list:

In [ ]:
navsats_tuples[0]

In [ ]:
# You can also iterate over them like a normal list using a loop:
    
for i in navsats_tuples:
    print(i)

You can even start to include some logic in the loop:

In [ ]:
for i in navsats_tuples:  # So we're iterating over our list of tuples using a for loop.
    if i[1] == 'USA':     # And placing an if function to see if the first item in each tuple is equal to 'USA'.
        print(i[0])       # If it is, we print the constellation name.

## Exercise

Create a list of lists containing the following two lists:

    - [1,2]
    - [2,3]

In [ ]:
# Enter your attempt here

Append this list to your list of lists:

    - [3,4]

In [ ]:
# Enter your attempt here

Now use a loop to print the content of your list of lists.

In [ ]:
# Enter your attempt here

Create a list of tuples containing the following two tuples:

    - (1,2)
    - (2,3)

In [ ]:
# Enter your attempt here

Append this tuple to your list of tuples:

    - (3,4)

In [ ]:
# Enter your attempt here

Now use a loop to print the content of your list of tuples.

In [ ]:
# Enter your attempt here